{
  "firstTimeRun": "yes", // CHANGE THIS TO "no" AFTER GENERATING YOUR KEY
  "mysql": {
    "host": "HOST",
    "user": "USER",
    "password": "PASSWORD",
    "database": "DATABASE"
  },
  "google": {
    "key": "KEY"
  },
  "secret": "ENTER A LONG AND COMPLEX RANDOM STRING HERE",
  "adminKey": "Hello I am placeholder!", // CHANGE THIS AFTER GENERATING YOUR NEW KEY
  "sharex": {
    "key": "KEY",
    "path": "PATH",
    "url": "URL"
  }

}
